:root {
  --blue: #246084;
  --white: #f4f3f3;
  --lightgray: #b4b4b4;
  --gray: #858585;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  background-color: var(--white);
  width: 22px;
  height: 3px;
  margin: 4px 0;
  margin-right: 10px;
  transition: all 0.5s ease;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line-1 {
  transform: rotate(-45deg) translate(-4px, 6px);
}
.toggle .line-2 {
  opacity: 0;
}
.toggle .line-3 {
  transform: rotate(45deg) translate(-4px, -6px);
}

@media screen and (max-width: 768px) {
  .burger {
    display: block;
  }

  .nav-links {
    margin-left: 0;
    position: absolute;
    top: 10vh;
    left: 0;
    width: 40%;
    height: 90vh;
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
    z-index: 8;
  }

  .nav-links li {
    padding: 1rem 0;
    border-bottom: none;
    opacity: 0;
  }

  .nav-links li:hover {
    border-bottom: none;
  }
}

.nav-active {
  transform: translateX(0%);
}
