@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

:root {
  --blue: #246084;
  --white: #f4f3f3;
  --lightgray: #b4b4b4;
  --gray: #858585;
}

body {
  background-color: var(--white);
}

a {
  color: black;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--blue);
  padding: 0.6rem 0;
}

h2 {
  font-size: 2em;
  letter-spacing: 1px;
}

.disabled {
  color: var(--lightgray);
  pointer-events: none;
}

nav {
  background-color: var(--blue);
  font-size: 18px;
  height: 9vh;
  display: flex;
  padding: 9px 0 6px;
  box-shadow: 0 5px 10px var(--gray);
}

nav a {
  color: var(--white);
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0 20px;
}

nav .nav-menu {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 80px;
  display: flex;
  flex: 50%;
  align-items: center;
}

nav ul {
  list-style: none;
  padding: 0 0 0 20px;
}

nav .nav-menu li {
  display: inline;
}

nav .nav-contact-button {
  display: flex;
  flex: 50%;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  padding-right: 80px;
}

nav .nav-contact-button a {
  color: var(--blue);
  background-color: var(--white);
  padding: 8px 20px;
  border-radius: 5px;
  transition: 0.3s ease;
}

nav .nav-contact-button a:hover {
  cursor: pointer;
  transform: scale(1.08);
  transition: 0.3s ease;
}

@media screen and (max-width: 991px) {
  nav {
    padding: 12px 0 8px;
  }

  nav .nav-contact-button a {
    font-size: 1rem;
    padding: 5px 10px;
  }
  nav ul {
    padding: 0;
    font-weight: 600;
  }
}

@media screen and (max-width: 768px) {
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
  }
  nav .nav-menu {
    flex: 75%;
    padding-left: 0;
  }

  nav a {
    font-weight: 600;
    margin: 0;
  }

  nav ul {
    padding-left: 1rem;
    font-weight: 600;
  }
  nav .nav-contact-button {
    flex: 25%;
    padding: 0;
  }

  .nav-img {
    margin: 0.2rem;
  }
  .card h2 {
    font-size: 1.4rem;
  }
}

.container {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}

section.content-home {
  display: flex;
  justify-content: center;
  width: 90%;
}

@media screen and (max-width: 768px) {
  section.content-home {
    margin-top: 9vh;
    display: block;
  }
  .card h2 {
    font-size: 1.4rem;
  }
}

section .card {
  flex: 35%;
  background-color: var(--white);
  border: 1px solid var(--gray);
  padding: 20px;
  box-shadow: 0px 0px 20px var(--gray);
  border-radius: 20px;
  height: max-content;
}

section .card img {
  border-radius: 20px;
  width: 100%;
}

section .card table {
  margin: 20px 0;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

section .card table tr:nth-child(1) {
  color: var(--white);
  background-color: var(--blue);
}

section .card p,
table {
  color: var(--gray);
}

section .text {
  flex: 65%;
  padding-left: 2rem;
}

@media screen and (max-width: 991px) {
  section .card {
    flex: 40%;
  }

  section .text {
    flex: 60%;
  }
}

@media screen and (max-width: 768px) {
  section .text {
    padding-left: 0;
  }
  .card h2 {
    font-size: 1.4rem;
  }
}

section .text p {
  color: var(--gray);
}

section .text .desc {
  text-align: justify;
}
section .text .desc,
.skill {
  margin-bottom: 2rem;
}

section .text .skill {
  display: flex;
  text-align: justify;
}

section .text .skill div {
  flex: 1;
}

section .text .skill div:not(:last-child) {
  margin-right: 1rem;
}

@media screen and (max-width: 991px) {
  section .text .skill {
    display: block;
  }

  section .text .skill div {
    margin-right: 1rem;
  }
}

section .text .social img {
  border-radius: 50%;
}

section .text .social a img {
  margin-right: 10px;
  width: 35px;
  transition: 0.3s ease;
}

section .text .social a img:hover {
  box-shadow: 0 0 10px var(--blue);
  transform: scale(1.05);
  transition: 0.3s ease;
}

/* Footer CSS */
footer {
  color: var(--white);
  text-align: center;
  width: 100%;
  background-color: var(--blue);
  padding: 20px 0;
  box-sizing: border-box;
  box-shadow: 0 -5px 10px var(--lightgray);
}

footer a {
  color: var(--white);
}
