:root {
  --blue: #246084;
  --white: #f4f3f3;
  --lightgray: #b4b4b4;
  --gray: #858585;
}

/* Blog Form */
.blog-form {
  padding: 50px 0;
  display: flex;
  justify-content: center;
}

.blog-form .form-container {
  width: 40%;
}

.blog-form .form-container h1 {
  text-align: center;
  margin-bottom: 40px;
}

.blog-form form label {
  font-size: 20px;
  font-weight: 400;
}

.blog-form form input,
textarea,
select {
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 20px;
  background: var(--white);
  border: 1px solid var(--lightgray);
  box-shadow: 0 0 7px var(--lightgray);
  border-radius: 8px;
}

.blog-form form textarea {
  height: 250px;
}

.blog-form form .input-blog-image-group {
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 20px;
  background: var(--white);
  border: 1px solid var(--lightgray);
  box-shadow: 0 0 7px var(--lightgray);
  border-radius: 8px;
  cursor: pointer;
  box-sizing: border-box;
}

.blog-form form .input-blog-image-group label p {
  font-size: 15px;
}

.blog-form form .input-blog-image-group label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog-form form .button-group {
  text-align: right;
}

.blog-form form button {
  margin-top: 50px;
  padding: 8px 20px;
  font-size: 17px;
  background: var(--blue);
  border-radius: 8px;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease;
}

.blog-form form button:hover {
  cursor: pointer;
  box-shadow: 0 0 10px var(--gray);
}

@media screen and (max-width: 1200px) {
  .blog-form .form-container {
    width: 50%;
  }
}

@media screen and (max-width: 991px) {
  .blog-form .form-container {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .blog-form .form-container {
    width: 90%;
  }

  .blog-form .form-container h1 {
    margin-top: 40px;
  }
}

.blog hr {
  border: 1px solid var(--lightgray);
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.blog h1 {
  text-align: center;
}

/* Blog list */
.blog .blog-list {
  margin: 80px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.blog .blog-list .blog-list-item {
  width: 80%;
  padding: 15px;
  margin-bottom: 20px;
  border: 2px solid #dbdbdb;
  border-radius: 8px;
  display: flex;
}

@media screen and (max-width: 768px) {
  .blog .blog-list {
    margin: 30px 0;
  }

  .blog .blog-list .blog-list-item {
    width: 90%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0;
  }
}

.blog .blog-list .blog-list-item .blog-image {
  flex: 1;
}

.blog .blog-list .blog-list-item .blog-image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.blog .blog-list .blog-list-item .blog-content {
  padding-left: 20px;
  flex: 2;
}

@media screen and (max-width: 768px) {
  .blog .blog-list .blog-list-item .blog-content {
    padding-left: 0;
  }
}

.blog .blog-list .btn-group {
  text-align: right;
  margin-bottom: 20px;
}

.blog .blog-list .btn-group .btn-edit {
  padding: 5px 10px;
  border: 0;
  border-radius: 4px;
  background: #dbdbdb;
}

.blog .blog-list .btn-group .btn-post {
  padding: 5px 10px;
  border: 0;
  border-radius: 4px;
  background: var(--blue);
  color: #fff;
}

.blog .blog-list h1 a {
  text-decoration: none;
  color: var(--blue);
}

.blog .blog-list .detail-blog-content {
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
}

.blog .blog-list .blog-list-item p {
  margin-top: 20px;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: justify;
}

.blog-content .blog-time-history {
  text-align: right;
  font-size: 0.7rem;
  color: var(--gray);
}

@media screen and (max-width: 768px) {
  .blog .blog-list .blog-list-item {
    display: block;
  }

  .blog .blog-list .blog-list-item .blog-content h1 {
    font-size: 1.3rem;
  }

  .blog .blog-list .blog-list-item p {
    margin-bottom: 20px;
  }

  .blog .blog-list .blog-list-item .blog-image img {
    margin-bottom: 30px;
  }

  .btn-edit,
  .btn-post {
    margin-left: 5px;
  }
}

/* Blog Detail */
.blog-detail {
  display: flex;
  justify-content: center;
}

.blog-detail-container {
  width: 80%;
  margin: 40px 0;
}

.blog-detail-container img {
  width: 100%;
}

.blog-detail-container h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 44px;
  line-height: 120%;
  margin-bottom: 15px;
}

.blog-detail-container .author {
  font-weight: 100;
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 20px;
}

.blog-detail-container p {
  margin-top: 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 140%;
  text-align: justify;
}
